<form class="form-signin shadow" novalidate [formGroup]="loginForm">
  <div class="text-center mb-4">
    <i class="bi bi-card-checklist logo logo-lg"></i>
    <h1>{{ appName }}</h1>
  </div>

  <div class="mb-4">
    <label class="form-label" for="email">{{ texts.emailLabel }}</label>
    <input
      type="text"
      class="form-control"
      id="email"
      placeholder="user@email.com"
      formControlName="email"
    />
    <app-form-errors [control]="loginForm.controls['email']"></app-form-errors>
  </div>

  <div class="mb-4">
    <label class="form-label" for="password">{{ texts.passwordLabel }}</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Password"
      formControlName="password"
    />
    <app-form-errors
      [control]="loginForm.controls['password']"
    ></app-form-errors>
  </div>

  <button
    class="w-100 btn btn-lg btn-primary my-4"
    type="submit"
    [disabled]="!loginForm.valid"
    (click)="login()"
  >
    {{ texts.primaryButtonText }}
  </button>
</form>
