<app-modal
  [title]="modalTitle"
  primaryButtonText="Guardar"
  [primaryButtonDisabled]="taskForm && !taskForm.valid"
  (onPrimaryAction)="saveTask()"
  (onSecondaryAction)="hideModal()"
>
  <form class="row g-3" novalidate [formGroup]="taskForm">
    <div class="col-md-12">
      <label for="title" class="form-label">{{ labels.title }}</label>
      <input
        type="text"
        class="form-control"
        id="title"
        formControlName="title"
      />
      <app-form-errors [control]="taskForm.controls['title']"></app-form-errors>
    </div>
    <div class="col-md-12">
      <label for="description" class="form-label">{{ labels.description }}</label>
      <input
        type="text"
        class="form-control"
        id="description"
        formControlName="description"
      />
      <app-form-errors
        [control]="taskForm.controls['description']"
      ></app-form-errors>
    </div>
  </form>
</app-modal>
