<div
  class="modal fade"
  id="modal-error"
  data-bs-backdrop="static"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-center">
        <i class="bi bi-plugin logo logo-lg"></i>
        <h2 class="modal-title" id="staticBackdropLabel">
          {{ modalError.title }}
        </h2>
        <p class="mb-0" [innerHTML]="modalError.text"></p>
      </div>
      <div class="modal-footer w-100">
        <button type="button" data-bs-dismiss="modal" class="btn btn-primary">
          {{ modalError.primaryButtonText }}
        </button>
      </div>
    </div>
  </div>
</div>
