@import "../../../../styles/vars";

:host {
  .bi {
    display: block;
    font-size: 3rem;
  }

  .nav-link:hover {
    color: $secondary-color !important;
  }

  .logo {
    background-color: white;
  }
}
