<header>
  <div class="px-3 py-2 bg-primary text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-between justify-content-lg-start">
        <a [routerLink]="['/tasks-manager']" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
          <i class="bi bi-list-task logo"></i>
        </a>
        <ul class="nav col-8 col-lg-auto my-2 justify-content-end my-md-0 text-small">
          <li>
            <a [routerLink]="['/login']" class="nav-link text-white">
              <i class="bi bi-box-arrow-right"></i>
              Salir
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>