$primary-color: rgb(83, 53, 125);
$secondary-color: #f8b55f;
$danger-color: #ca7842;
$primary-color-25: rgba(83, 53, 125, 0.25);

:root {
  --bs-primary-rgb: 83, 53, 125;
  --bs-secondary-rgb: 248, 181, 95;
  --bs-heading-color: #{$primary-color};
  --bs-body-font-size: 1.25rem;
  --bs-btn-active-border-color: #ccc;

  .btn-primary {
    --bs-btn-font-weight: 600;
    --bs-btn-color: white;
    --bs-btn-border-color: #{$primary-color};
    --bs-btn-hover-color: #{$primary-color};
    --bs-btn-bg: #{$primary-color};
    --bs-btn-active-bg: #{$primary-color};
    --bs-btn-focus-bg: #{$primary-color};
    --bs-btn-hover-bg: #{$secondary-color};
    --bs-btn-disabled-bg: #{$primary-color};
    --bs-btn-hover-border-color: #{$primary-color};
    --bs-btn-disabled-border-color: #{$primary-color};
    --bs-btn-focus-box-shadow: none;
  }

  .btn-outline-primary {
    --bs-btn-color: #{$primary-color};
    --bs-btn-border-color: #{$primary-color};
    --bs-btn-hover-bg: #{$secondary-color};
    --bs-btn-hover-border-color: #{$secondary-color};
    --bs-btn-active-bg: #{$primary-color};
    --bs-btn-active-border-color: #{$primary-color};
    --bs-btn-disabled-color: #{$primary-color};
    --bs-btn-disabled-border-color: #{$primary-color};
  }

  .modal {
    --bs-modal-padding: 1.5rem;
  }

  @media (min-width: 576px) {
    .container {
      max-width: unset;
    }
  }
}
